<h1 class="title">書本列表</h1>

<%= link_to "新增書本", new_book_path , class: 'button is-danger'%>


<ul>
<% @book.each do |book| %>
  <li>
    <%= link_to book.title, book_path(book.id) %>
    <%= link_to "編輯", edit_book_path(book.id) %>
    <%= link_to "刪除", book_path(book.id), method:'delete', data: {:confirm => "確定嗎?"} %>
  </li>
<% end %>
</ul>